<!DOCTYPE html>
<html>
<head>
	<title>Oops!</title>
   	<link rel="stylesheet" type="text/css" href="./style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>
<body class="oops">

	<div class="oops-container">
		<p class="oops-logo"><%= ['(≥o≤)','(._.)','(^-^*)','(≖ᴗ≖✿)'].sample %></p>
		<p class="oops-text">Oops!.. Unfortunately, this page doesn't exist.</p>
	</div>
</body>
</html>