* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}
html,body,input,button,textarea { font-family: "Roboto", "tahoma" }
html { height: 100% }
body {
	font-size: 14px;
    min-height: 100px;
	color: #fff;
	background: #292928;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    padding: 0 10px;
}
#background {
    background: #8269bd;
    height: 449px;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
}
.wrapper {
    margin: 10px 0;
}
.messenger {
    width: 450px;
    max-width: 100%;
    background: #fff;
    height: 500px;
    margin: 0 auto;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4117647058823529);
    font-size: 13px;
}
.messenger_header {
    padding: 15px 5px;
    text-align: center;
    text-transform: uppercase;
    background: #f3f3f3;
    color: #444;
    border-bottom: 1px solid #e0e0e0;
}
#messages_display {
    overflow: auto;
    float: left;
    width: 100%;
    height: 395px;
}
.chat_bubble {
    float: left;
    clear: both;
    margin: 5px 15px;
}
.chat_bubble.yours {
    float: right;
}
.chat_bubble p {
    border: 1px solid #272727;
    background: #383838;
    border-radius: 8px;
    border-top-left-radius: 0;
    padding: 7px 10px;
}
.chat_bubble.yours p {
    border: 1px solid #745baf;
    background: #8269bd;
    border-top-left-radius: 8px;
    border-top-right-radius: 0;
} 
.chat_bubble.yours .name { display: none }
.chat_bubble .name {
    font-size: 12px;
    display: block;
    color: #b9b9b9;
}
.text_input {
    background: #000;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
}
::placeholder {
    color: #c1c1c1;
}
.text_input input {
    padding: 21.5px;
    flex: 4;
    border: none;
    border-top: 1px solid #e0e0e0;

}
.text_input button {
    flex: 1;
    background: #fff;
    right: 0;
    border: none;
    border-top: 1px solid #e0e0e0;
    top: 0;
    padding: 21px;
    color: #03a9f4;
    font-size: 15px;
    cursor: pointer;
}

.logos { text-align: center; padding: 3em 0 }
.logos a svg { width: 2rem; height: 2rem; fill: #fff; }